1
assets/layout_models/model_final.pth
assets/table_info.txt
assets/unused_contents_20241007.jsonl
test.ipynb
ms-swift
pdf
pdf.zip
swift_qwen2-vl
transformers
main.py
sft_only_transformers.py
train.py
.idea
.ipynb_checkpoints